:root {
  --color-background: #5D6B6B;
  --color-off-white: #f1f7f7;
  --color-text-dark: #333333;
  --color-muted-text: #8393a0;
  --color-pink: #f7cbca;
  --color-blue-muted: #a6c4e1;
  --color-error: #df7d7a; 
  --color-text-darkbg: #1e211f;
}
